In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import pdb
%matplotlib inline

In [3]:
d={'income':[1,3,5,3,11,23,15,10,9,3],"lot size":range(1,11),'bathroom':[3,4,3,5,2,3,4,5,5,4]}
df=pd.DataFrame(d)

In [25]:
new_colum = []
for i in range(len(df)):
    
    if 0<=i<=len(df)/2:
        new_colum.append('owner')
    else:
        new_colum.append('nonowner')
        
new_colum

['owner',
 'owner',
 'owner',
 'owner',
 'owner',
 'owner',
 'nonowner',
 'nonowner',
 'nonowner',
 'nonowner']

In [126]:
df['ownership'] = new_colum

In [127]:
df

   income  lot size  bathroom ownership
0       1         1         3     owner
1       3         2         4     owner
2       5         3         3     owner
3       3         4         5     owner
4      11         5         2     owner
5      23         6         3     owner
6      15         7         4  nonowner
7      10         8         5  nonowner
8       9         9         5  nonowner
9       3        10         4  nonowner

In [128]:
def my_split(percentage,new_df,y):
    '''
    this is for train test split function practice
    '''
    
    lst = list(range(0,len(new_df)))
    random.seed('5')
    num_train = random.sample(lst,len(new_df))[:int((1-percentage)*len(new_df))]
    
    # this is for the remaining of the lst
    num_test = []
    for i in lst:
        if i not in num_train:
            num_test.append(i) 

    X_train = new_df.iloc[num_train,:]
    X_test = new_df.iloc[num_test,:]
    
    y_train = y.iloc[num_train]
    y_test = y.iloc[num_test]
    
    return X_train, X_test, y_train, y_test

In [129]:
X_train, X_test, y_train, y_test = my_split(0.3,df.drop('ownership',axis = 1), y= df['ownership'])

In [130]:
X_train

   income  lot size  bathroom
5      23         6         3
4      11         5         2
0       1         1         3
8       9         9         5
1       3         2         4
3       3         4         5
7      10         8         5

In [136]:
X_test

   income  lot size  bathroom
2       5         3         3
6      15         7         4
9       3        10         4

In [132]:
y_train

5       owner
4       owner
0       owner
8    nonowner
1       owner
3       owner
7    nonowner
Name: ownership, dtype: object

In [133]:
y_test

2       owner
6    nonowner
9    nonowner
Name: ownership, dtype: object

In [ ]:
def Eucli_distance(x):
    pass

In [137]:
# the Euclidean distance


distance = list(range(len(X_train)))
actual_dist = list(range(len(X_train)))

for i in range(len(X_train)):
    
    for j in range(len(X_train.columns)-1):
        
        distance[i] += (X_test.iloc[0,j]-df.iloc[i,j])**2
        actual_dist[i] = distance[i]**0.5
    
    print(distance)
print(actual_dist)

[20, 1, 2, 3, 4, 5, 6]
[20, 6, 2, 3, 4, 5, 6]
[20, 6, 2, 3, 4, 5, 6]
[20, 6, 2, 8, 4, 5, 6]
[20, 6, 2, 8, 44, 5, 6]
[20, 6, 2, 8, 44, 338, 6]
[20, 6, 2, 8, 44, 338, 122]
[4.47213595499958, 2.449489742783178, 1.4142135623730951, 2.8284271247461903, 6.6332495807108, 18.384776310850235, 11.045361017187261]

In [151]:
test_df = pd.DataFrame({'distance':actual_dist,'ownership':y_train})

In [152]:
test_df

    distance ownership
5   4.472136     owner
4   2.449490     owner
0   1.414214     owner
8   2.828427  nonowner
1   6.633250     owner
3  18.384776     owner
7  11.045361  nonowner

In [117]:
actual_dist.sort()

In [118]:
actual_dist

[3.0,
 6.324555320336759,
 6.782329983125268,
 7.483314773547883,
 7.810249675906654,
 8.06225774829855,
 9.273618495495704,
 9.848857801796104,
 12.609520212918492,
 20.54263858417414]

In [ ]:
count_df =

In [237]:
new_num=[[distance[1],df.iloc[1,2]]]

In [170]:
new_num.append([distance[2],df.iloc[2,2]])

In [171]:
new_num

[[3.605551275463989, 'ownwer'], [2.0, 'ownwer']]

In [173]:
new_num=[]
for i in range(len(distance)):
    new_num.append([distance[i],df.iloc[i,2]])

In [174]:
new_num

[[5.656854249492381, 'ownwer'],
 [3.605551275463989, 'ownwer'],
 [2.0, 'ownwer'],
 [2.23606797749979, 'ownwer'],
 [6.0, 'ownwer'],
 [18.027756377319946, 'ownwer'],
 [10.198039027185569, 'nonowner'],
 [5.830951894845301, 'nonowner'],
 [5.656854249492381, 'nonowner'],
 [5.385164807134504, 'nonowner']]

In [175]:
new_num.sort()

In [176]:

new_num

[[2.0, 'ownwer'],
 [2.23606797749979, 'ownwer'],
 [3.605551275463989, 'ownwer'],
 [5.385164807134504, 'nonowner'],
 [5.656854249492381, 'nonowner'],
 [5.656854249492381, 'ownwer'],
 [5.830951894845301, 'nonowner'],
 [6.0, 'ownwer'],
 [10.198039027185569, 'nonowner'],
 [18.027756377319946, 'ownwer']]

In [178]:
new_num[4][1]

'nonowner'

In [189]:
new_new_list = []
for i in range(10):
    new_new_list.append(new_num[i][1])

In [197]:
new_new_list.count('ownwer')

6

In [234]:
def count_func(k):
   
    for i in range(k):
        count_list = new_new_list[:i]
        num_my = count_list.count('ownwer')
        percentage = num_my/10
        print(i,percentage)